In [2]:
import pandas as pd
import re
import requests

In [3]:
data = pd.read_csv('../FlaskApp/static/data/90to18.csv')

In [4]:
data

,Adult,Genres,Id,Imdb Id,Keywords,Production Companies,Production Countries,Release Date,Year,Tagline,...,Runtime,Vote Average,Vote Count,New Key,Worldwide,Domestic,Foreign,Maded_Profit,Percent_Profit,Good_Movie
0,False,"['Adventure', 'Fantasy', 'Family']",8844,tt0113497,"['giant insect', 'board game', 'jungle', 'disa...","['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],12/15/1995,1995,Roll the dice and unleash the excitement!,...,104.0,6.9,2413.0,"['board game', 'disappearance', 'new home', 'r...",262797249,100475249.0,162322000.0,1,180%+,B
1,False,"['Comedy', 'Drama', 'Romance']",31357,tt0114885,"['based on novel or book', 'interracial relati...",['Twentieth Century Fox Film Corporation'],['United States of America'],12/22/1995,1995,Friends are the people who let you be yourself...,...,127.0,6.1,34.0,"['based on novel', 'interracial relationship',...",81452156,67052156.0,14400000.0,1,180%+,B
2,False,"['Action', 'Crime', 'Drama', 'Thriller']",949,tt0113277,"['robbery', 'detective', 'bank', 'obsession', ...","['Regency Enterprises', 'Forward Pass', 'Warne...",['United States of America'],12/15/1995,1995,A Los Angeles Crime Saga,...,170.0,7.7,1886.0,"['robbery', 'detective', 'bank', 'obsession', ...",187436818,67436818.0,120000000.0,1,180%+,B
3,False,"['Comedy', 'Romance']",11860,tt0114319,"['paris, france', 'sibling relationship', 'cha...","['Paramount Pictures', 'Scott Rudin Production...","['Germany', 'United States of America']",12/15/1995,1995,You are cordially invited to the most surprisi...,...,127.0,6.2,141.0,"['paris', 'brother brother relationship', 'cha...",53696278,53672080.0,24198.0,0,0-(-10)%,B
4,False,"['Action', 'Adventure', 'Thriller']",9091,tt0114576,"['terrorist', 'hostage', 'explosive', 'ice hoc...","['Universal Pictures', 'Imperial Entertainment...",['United States of America'],12/22/1995,1995,Terror goes into overtime.,...,106.0,5.5,174.0,"['terrorist', 'hostage', 'explosive']",64350171,20350171.0,44000000.0,1,90-80%,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2141,False,['Drama'],318850,tt1002563,"['egypt', 'jesus christ', 'gospel', 'christian...",['Focus Features'],['United States of America'],3/10/2016,2016,"Before he was the savior, he was a child.",...,120.0,6.4,30.0,"['egypt', 'jesus christ', 'gospel', 'christian...",7330338,6490401.0,839937.0,0,(-30)-(-40)%,B
2142,False,"['Action', 'Adventure']",258489,tt0918940,"['africa', 'animal attack', 'feral child', 'ta...","['Village Roadshow Pictures', 'Dark Horse Ente...","['Canada', 'United Kingdom', 'United States of...",6/29/2016,2016,Human. Nature.,...,109.0,5.5,2488.0,"['africa', 'feral child', 'tarzan', 'jungle']",356700357,126643061.0,230057296.0,1,100-90%,C
2143,False,['Horror'],14564,tt0498381,"['hallucination', 'investigation', 'drama', 's...","['Paramount Pictures', 'Vertigo Entertainment'...",['United States of America'],2/1/2017,2017,Evil is reborn.,...,102.0,4.8,1075.0,"['hallucination', 'investigation', 'drama', 's...",83080890,27793018.0,55287872.0,1,180%+,C
2144,False,"['Drama', 'Romance']",14395,tt0449999,"['adultery', 'extramarital affair']","['Yash Raj Films', 'Dharma Productions']",['India'],8/11/2006,2006,A Love.... That Broke All Relationships,...,193.0,6.1,45.0,['adultery'],25229168,3275444.0,21953724.0,1,180%+,B
2145,False,"['Action', 'Drama', 'Romance', 'Thriller']",8453,tt0439662,"['blindness and impaired vision', 'new delhi i...",['Yash Raj Films'],['India'],5/26/2006,2006,Destroyed in love...,...,168.0,6.7,53.0,"['blindness and impaired vision', 'new delhi i...",22175908,2105352.0,20070556.0,1,180%+,B

In [91]:
one= data['Production Countries'][0]
test = re.findall(r"\[*{'iso_3166_1':\s'\w+',\s'name':\s'([\w\s]+)'},*",one)
test
# data['Keywords'].value_counts()

# one=data['Production Companies'][2]
# re.findall(r"\[*{'name':\s'([\w\s.]+)',\s'id':\s\w+},*",one)
# data['Worldwide']= data['Worldwide'].apply(lambda x: ''.join(re.findall(r'\$*(\d+),*',x)))
# data.head()

['United States of America']

In [93]:
data = data.drop(columns = ['Unnamed: 0', 'Overview', 'Revenue'])
data = data.dropna()
# data['Keywords']= data['Keywords'].apply(lambda x: re.findall(r"\[*{'id':\s\w+,\s'name':\s'([\w\s]+)'},*",x))
data['Genres']= data['Genres'].apply(lambda x: re.findall(r"\[*{'id':\s\w+,\s'name':\s'([\w\s]+)'},*",x))
data['Production Companies']= data['Production Companies'].apply(lambda x: re.findall(r"\[*{'name':\s'([\w\s.]+)',\s'id':\s\w+},*",x))
data['Production Countries']= data['Production Countries'].apply(lambda x: re.findall(r"\[*{'iso_3166_1':\s'\w+',\s'name':\s'([\w\s]+)'},*",x))
data['Worldwide']= data['Worldwide'].apply(lambda x: ''.join(re.findall(r'\$*(\d+),*',x)))
data['Foreign']= data['Foreign'].apply(lambda x: ''.join(re.findall(r'\$*(\d+),*',x)))
data['Domestic']= data['Domestic'].apply(lambda x: ''.join(re.findall(r'\$*(\d+),*',x)))

In [7]:
data = data.drop(data.loc[(data['New Key']=='[]') | (data['Budget'] == 0) | (data['Genres']=='[]') | (data['Production Companies']=='[]')].index)
data.to_csv('Resources/90to18.csv',index = False)

In [5]:
goodmovie = []
for row in data['Vote Average']:
    goodmovie.append('A' if row>8 else 'B' if row>6 else 'C'  if row > 4 else 'D' )
#     break
data['Good_Movie']= goodmovie
# goodmovie

In [6]:
# madedprofit = []
percprofit = []
for index,row in data[['Budget','Worldwide']].iterrows():
    make  ='180%+' if row[1]/row[0]>2.80 else '170-160%' \
             if row[1]/row[0]>2.70 else '160-150%' \
             if row[1]/row[0]>2.60 else '160-150%' \
             if row[1]/row[0]>2.50 else '150-140%' \
             if row[1]/row[0]>2.40 else '140-130%' \
             if row[1]/row[0]>2.30 else '130-120%' \
             if row[1]/row[0]>2.20 else '120-110%' \
             if row[1]/row[0]>2.10 else '110-100%' \
             if row[1]/row[0]>2.0 else '100-90%' \
             if row[1]/row[0]>1.90 else '90-80%' \
             if row[1]/row[0]>1.80 else '80-70%' \
             if row[1]/row[0]>1.70 else '70-60%' \
             if row[1]/row[0]>1.60 else '60-50%' \
             if row[1]/row[0]>1.50 else '50-40%' \
             if row[1]/row[0]>1.40 else '40-30%' \
             if row[1]/row[0]>1.30 else '30-20%' \
             if row[1]/row[0]>1.20 else '20-10%' \
             if row[1]/row[0]>1.10 else '10-0%' \
             if row[1]/row[0]>1.0 else '0-(-10)%' \
             if row[1]/row[0]>.90 else '(-10)-(-20)%' \
             if row[1]/row[0]>.80 else '(-20)-(-30)%' \
             if row[1]/row[0]>.70 else '(-30)-(-40)%' 
    percprofit.append(make)
#     break
# data['Maded_Profit'] = madedprofit
data['Percent_Profit'] = percprofit
make
data.head()

,Adult,Genres,Id,Imdb Id,Keywords,Production Companies,Production Countries,Release Date,Year,Tagline,...,Runtime,Vote Average,Vote Count,New Key,Worldwide,Domestic,Foreign,Maded_Profit,Percent_Profit,Good_Movie
0,False,"['Adventure', 'Fantasy', 'Family']",8844,tt0113497,"['giant insect', 'board game', 'jungle', 'disa...","['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],12/15/1995,1995,Roll the dice and unleash the excitement!,...,104.0,6.9,2413.0,"['board game', 'disappearance', 'new home', 'r...",262797249,100475249.0,162322000.0,1,180%+,B
1,False,"['Comedy', 'Drama', 'Romance']",31357,tt0114885,"['based on novel or book', 'interracial relati...",['Twentieth Century Fox Film Corporation'],['United States of America'],12/22/1995,1995,Friends are the people who let you be yourself...,...,127.0,6.1,34.0,"['based on novel', 'interracial relationship',...",81452156,67052156.0,14400000.0,1,180%+,B
2,False,"['Action', 'Crime', 'Drama', 'Thriller']",949,tt0113277,"['robbery', 'detective', 'bank', 'obsession', ...","['Regency Enterprises', 'Forward Pass', 'Warne...",['United States of America'],12/15/1995,1995,A Los Angeles Crime Saga,...,170.0,7.7,1886.0,"['robbery', 'detective', 'bank', 'obsession', ...",187436818,67436818.0,120000000.0,1,180%+,B
3,False,"['Comedy', 'Romance']",11860,tt0114319,"['paris, france', 'sibling relationship', 'cha...","['Paramount Pictures', 'Scott Rudin Production...","['Germany', 'United States of America']",12/15/1995,1995,You are cordially invited to the most surprisi...,...,127.0,6.2,141.0,"['paris', 'brother brother relationship', 'cha...",53696278,53672080.0,24198.0,0,0-(-10)%,B
4,False,"['Action', 'Adventure', 'Thriller']",9091,tt0114576,"['terrorist', 'hostage', 'explosive', 'ice hoc...","['Universal Pictures', 'Imperial Entertainment...",['United States of America'],12/22/1995,1995,Terror goes into overtime.,...,106.0,5.5,174.0,"['terrorist', 'hostage', 'explosive']",64350171,20350171.0,44000000.0,1,90-80%,C

In [105]:
rev_df = pd.read_html(f'https://www.boxofficemojo.com/year/world/{2000+1}/')[0]
rev_df['Year']='2000'
for x in range(20):
    print(x+1)
    temp = pd.read_html(f'https://www.boxofficemojo.com/year/world/{2000+x+1}/')[0]
    temp['Year'] = f'{2000+x+1}'
    rev_df = pd.concat([rev_df,temp],ignore_index = True)
final_rev_df = rev_df.drop(columns = ['%','%.1','Rank'])

1

In [110]:
# rev_df = pd.concat([rev_df,temp],ignore_index = True)
rev_df.drop(columns = ['%','%.1','Rank'])

,Release Group,Worldwide,Domestic,Foreign,Year,year
0,Harry Potter and the Sorcerer's Stone,"$974,755,371","$317,575,550","$657,179,821",2000,NaN
1,The Lord of the Rings: The Fellowship of the Ring,"$883,726,270","$313,364,114","$570,362,156",2000,NaN
2,"Monsters, Inc.","$528,773,250","$255,873,250","$272,900,000",2000,NaN
3,Shrek,"$484,409,218","$267,665,011","$216,744,207",2000,NaN
4,Ocean's Eleven,"$450,717,150","$183,417,150","$267,300,000",2000,NaN
...,...,...,...,...,...,...
803,Ginger Snaps,"$2,554","$2,554",-,NaN,2001
804,Whatever Happened to Harold Smith?,"$2,543","$2,543",-,NaN,2001
805,"Love, Honor and Obey","$1,400","$1,400",-,NaN,2001
806,The Last Wave 2001 Re-release,$957,$957,-,NaN,2001
807,Sorority Girls' Revenge,$582,$582,-,NaN,2001

In [15]:
# data = data.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [8]:
data.to_csv('../Resources/90to18.csv',index = False)

In [11]:
data['Percent_Profit'].value_counts()

180%+           764
(-30)-(-40)%    426
0-(-10)%         71
160-150%         70
20-10%           70
(-20)-(-30)%     54
(-10)-(-20)%     52
110-100%         52
70-60%           51
130-120%         50
10-0%            50
30-20%           50
80-70%           46
60-50%           44
40-30%           43
120-110%         42
90-80%           40
50-40%           40
140-130%         37
170-160%         35
100-90%          34
150-140%         25
Name: Percent_Profit, dtype: int64

In [10]:
data['Percent_Profit'] = pd.qcut(data['Worldwide']/data['Budget'],20)
data.head()

,Adult,Genres,Id,Imdb Id,Keywords,Production Companies,Production Countries,Release Date,Year,Tagline,...,Runtime,Vote Average,Vote Count,New Key,Worldwide,Domestic,Foreign,Maded_Profit,Percent_Profit,Good_Movie
0,False,"['Adventure', 'Fantasy', 'Family']",8844,tt0113497,"['giant insect', 'board game', 'jungle', 'disa...","['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],12/15/1995,1995,Roll the dice and unleash the excitement!,...,104.0,6.9,2413.0,"['board game', 'disappearance', 'new home', 'r...",262797249,100475249.0,162322000.0,1,"(3.614, 4.227]",B
1,False,"['Comedy', 'Drama', 'Romance']",31357,tt0114885,"['based on novel or book', 'interracial relati...",['Twentieth Century Fox Film Corporation'],['United States of America'],12/22/1995,1995,Friends are the people who let you be yourself...,...,127.0,6.1,34.0,"['based on novel', 'interracial relationship',...",81452156,67052156.0,14400000.0,1,"(5.085, 6.787]",B
2,False,"['Action', 'Crime', 'Drama', 'Thriller']",949,tt0113277,"['robbery', 'detective', 'bank', 'obsession', ...","['Regency Enterprises', 'Forward Pass', 'Warne...",['United States of America'],12/15/1995,1995,A Los Angeles Crime Saga,...,170.0,7.7,1886.0,"['robbery', 'detective', 'bank', 'obsession', ...",187436818,67436818.0,120000000.0,1,"(2.852, 3.176]",B
3,False,"['Comedy', 'Romance']",11860,tt0114319,"['paris, france', 'sibling relationship', 'cha...","['Paramount Pictures', 'Scott Rudin Production...","['Germany', 'United States of America']",12/15/1995,1995,You are cordially invited to the most surprisi...,...,127.0,6.2,141.0,"['paris', 'brother brother relationship', 'cha...",53696278,53672080.0,24198.0,0,"(0.905, 1.077]",B
4,False,"['Action', 'Adventure', 'Thriller']",9091,tt0114576,"['terrorist', 'hostage', 'explosive', 'ice hoc...","['Universal Pictures', 'Imperial Entertainment...",['United States of America'],12/22/1995,1995,Terror goes into overtime.,...,106.0,5.5,174.0,"['terrorist', 'hostage', 'explosive']",64350171,20350171.0,44000000.0,1,"(1.739, 2.004]",C

In [11]:
data.to_csv('../FlaskApp/static/data/90to18.csv')